* {
    box-sizing: border-box;
    width: 100%;
}

body {
    display: flex;
    align-items: center;
    margin: 0 auto;
}

#wrapper {
    max-width: 1020px;
    margin: 0 auto;
}

.container {
    width: 100%;
    height: 100%;
    padding-bottom: 20%;
    background-color: #D9D9D9;
}

.title {
    font-size: 3rem;
    margin-top: 15vh;
    margin-left: 2vw;
    font-weight: bold;

}

.content {
    font-size: 1em;
    margin-left: 50px;
    padding-top: 10px;
    padding-bottom: 20px;
    line-height: 2em;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    width: 200px;
    height: 60px;
    margin-left: 50px;

}

.food {
    display: grid;
    position: absolute;
    height: 73vh;
    width: 70vw;
    top: 60px;
    left: 25vw;
    background-color: aqua;
}

/*별*/
.star_rating {
    width: 100%;
    box-sizing: border-box;
    display: inline-flex;
    margin-top: 10px;
    margin-left: 30px;
    float: left;
    flex-direction: row;
    justify-content: flex-start;
}

.star_rating .star {
    width: 15px;
    height: 15px;
    margin-right: 2px;
    display: inline-block;
    background: url('https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fblog.kakaocdn.net%2Fdn%2FE2bww%2FbtsviSSBz4Q%2F5UYnwSWgTlFt6CEFZ1L3Q0%2Fimg.png') no-repeat;
    background-size: 100%;
    box-sizing: border-box;
}

.star_rating .star.on {
    width: 15px;
    height: 15px;
    margin-right: 2px;
    display: inline-block;
    background: url('https://blog.kakaocdn.net/dn/b2d6gV/btsvbDoal87/XH5b17uLeEJcBP3RV3FyDk/img.png') no-repeat;
    background-size: 100%;
    box-sizing: border-box;
}

.food1 {
    background-color: #818181;
    width: 250px;
    height: 300px;

}

.food1text {
    background-color: white;
    width: 250px;
    height: 80px;
    font-size: 12px;
}

.text {
    margin-left: 30px;
    margin-top: 35px;
}

.text2 {
    margin-top: 6px;
    margin-left: 30px;
    font-size: 9px;
    color: #818181;
}

.food2 {
    position: absolute;
    background-color: #818181;
    width: 250px;
    height: 300px;
    left: 300px;

}

.food2text {
    position: absolute;
    background-color: white;
    width: 250px;
    height: 80px;
    left: 300px;
    top: 300px;
    font-size: 12px;
}

.food3 {
    position: absolute;
    background-color: #818181;
    width: 250px;
    height: 300px;
    left: 600px;

}

.food3text {
    position: absolute;
    background-color: white;
    width: 250px;
    height: 80px;
    left: 600px;
    top: 300px;
    font-size: 12px;
}

/*메뉴별 인기 맛집*/
.menu {
    position: absolute;
    top: 80vh;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.menutext {
    display: flex;
    justify-content: center;
    margin-top: 5%;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 50px;
}

.entire {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(25%, 1fr));
    grid-gap: 2em;
    width: 90vw;
    margin: auto;

}

img {
    width: 25vw;
    height: 35vh;
    object-fit: cover;
}

.entire div {
    position: relative;
}

.entire .korean,
.chinese,
.western,
.japanese,
.cafe,
.bar {
    position: absolute;
    top: 0;
    left: 0px;
    height: 35vh;
    width: 25vw;
    background: rgba(73, 73, 73, 0.4);
}

.entire .korean,
.chinese,
.western,
.japanese,
.cafe,
.bar {
    position: absolute;
    top: 0;
    left: 0;
    height: 35vh;
    width: 25vw;

    /* typographic styles */
    color: white;
    font-size: 1.5em;
    font-weight: bold;
    text-decoration: none;

    /* position the text centrally*/
    display: flex;
    align-items: center;
    justify-content: center;

    /* hide the title by default */
    opacity: 0;
    transition: opacity 0.5s;
}

.korean:hover,
.chinese:hover,
.western:hover,
.japanese:hover,
.cafe:hover,
.bar:hover {
    opacity: 1;
}



/*리뷰부분*/
.review {
    position: absolute;
    top: 160vh;
    width: 100vw;
    height: 70vh;
}

.reviewtitle {
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    margin-top: 15%;
}

.reviewtext {
    text-align: center;
    font-size: 14px;
    margin-top: 1vh;
}

.review0 {
    display: grid;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 30px;
    margin-top: 50px;
    margin-left: 30px;
    margin-right: 30px;
    text-align: center;
    width: 100vw;
    height: 80vh;
    font-size: 1.5em;
}

.reviewlabel {
    margin-top: 15vh;
}

.reviewlabel1 {
    margin-top: 30px;
    font-size: 0.8em;
}

.review1 {
    background-color: #bcbcbc;
}

.fa-solid {
    margin-top: 10vh;
}
.user {
    margin-top: 2vh;
    font-size: 1.2rem;
}

.footer {
    position: absolute;
    top: 290vh;
    height: 20vh;
}