* {
    margin:0 auto;
    outline: none;
    border: none;
    max-width: 1030px;
    
}

@font-face {
    font-family: 'SUITE-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

img {
    display: block;
    max-width: 100%;
    object-fit: cover;
}

ol,
ul {
    list-style: none;
}

a {
    color: inherit;
}

body {
    margin: 0 0;
    color: var(--black);
    font: 1rem;
    font-family: 'SUITE-Regular';
}

/*------첫번째 파트부분------*/
.container {
    background-color: #d9d9d9;
    justify-content: space-between;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
    padding: 3rem;

}

.title {
    font-size: 2.5rem;
    font-weight: bold;
    white-space: nowrap;/*줄바꿈 되지 않게 하는 코드*/
}

.content {
    font-size: 1.2rem;
    line-height: 2.1;
    margin-top: 1rem;
    white-space: nowrap;
}

.button {
    display: flex;
    margin: 0 0;
    background-color: black;
    color: white;
    font-size: 1.2rem;
    justify-content: center;
    align-items: center;
    max-width: 230px;
    min-height: 70px;
    margin-top: 2rem;
}

.ads-img {
    display: flex;
}
.food1 {
    max-width: 30rem;
}
.food1text {
    display: flex;
    background-color: white;
    font-size: 1rem;
    padding: 1rem;
    
}

.food1text p:first-child {
    color: #000000;
}
.food1text p:last-child {
    color:#7B7B7B;
    font-size: 0.8rem;
}


.menutext {
    display: flex;
    font-size: 2rem;
    font-weight: bold;
    padding: 0 0 3rem;
    justify-content: center;
}

.entire {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(25%, 1fr));
    grid-gap: 1em;
    width: 90vw;
    margin: auto;

}

img {
    width: 24rem;
    height: 14rem;
    object-fit: cover;
}

.entire div {
    position: relative;
}

.entire .korean,
.chinese,
.western,
.japanese,
.cafe,
.bar {
    position: absolute;
    top: 0;
    left: 0px;
    width: 24rem;
    height: 14rem;
    background: rgba(73, 73, 73, 0.4);
}

.entire .korean,
.chinese,
.western,
.japanese,
.cafe,
.bar {
    position: absolute;
    top: 0;
    left: 0;
    height: 25vh;
    width: 100%;

    /* typographic styles */
    color: white;
    font-size: 1.5em;
    font-weight: bold;
    text-decoration: none;

    /* position the text centrally*/
    display: flex;
    align-items: center;
    justify-content: center;

    /* hide the title by default */
    opacity: 0;
    transition: opacity 0.5s;
}

.korean:hover,
.chinese:hover,
.western:hover,
.japanese:hover,
.cafe:hover,
.bar:hover {
    opacity: 1;
}


.reviewtitle {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3rem 3rem 0.5rem 3rem;
    font-size: 2rem;
    font-weight: bold;
}

.reviewtext {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
}

.review0 {
    display: grid;
    margin: 0 auto;
    padding: 0 2rem 0 2rem;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 30px;
    margin-top: 3rem;
    text-align: center;
    font-size: 1.5em;
}

.reviewlabel {
    padding: 2rem;
    font-size: 1rem;
    font-weight: bold;
}

.reviewlabel1 {
    font-size: 0.8rem;
}

.review1 {
    background-color: #bcbcbc;
    height: auto;
    padding:2rem 2rem;
}

.fa-solid {
    margin-top: 3rem;
}
.user {
    margin-top: 1rem;
    font-size: 1rem;
}

.footer {
    padding: 3rem;
}